body { margin: 0; background: #000; overflow: hidden; font-family: 'Courier New', monospace; touch-action: none; }
#game-container { width: 100vw; height: 100vh; background: #5c94fc; position: relative; overflow: hidden; }

#score-board { position: absolute; top: 10px; left: 10px; color: white; font-size: 20px; z-index: 100; font-weight: bold; text-shadow: 2px 2px #000; }

/* PLAYER & KAKI STICK KOCAK */
#player { 
    width: 60px; height: 60px; 
    background-image: url('mario-aib.png'); background-size: contain; 
    background-repeat: no-repeat; position: absolute; bottom: 80px; left: 50%; transform: translateX(-50%); z-index: 50;
}
.leg { width: 4px; height: 20px; background: #000; position: absolute; bottom: -18px; }
.leg-left { left: 15px; }
.leg-right { right: 15px; }

/* Animasi Jalan */
.walking .leg-left { animation: leg-move 0.15s infinite alternate; }
.walking .leg-right { animation: leg-move 0.15s infinite alternate-reverse; }
@keyframes leg-move { from { transform: rotate(-35deg); } to { transform: rotate(35deg); } }

/* MUSUH FOTO BERBEDA */
.enemy { position: absolute; bottom: 80px; background-size: contain; background-repeat: no-repeat; z-index: 40; }
.lvl1 { width: 45px; height: 45px; background-image: url('musuh1.png'); }
.lvl2 { width: 65px; height: 65px; background-image: url('musuh2.png'); }
.lvl3 { width: 85px; height: 85px; background-image: url('musuh3.png'); filter: drop-shadow(0 0 5px red); }

/* Peluru Bos Putih Perlahan */
.bullet { width: 15px; height: 15px; background: #fff; border: 2px solid #000; border-radius: 50%; position: absolute; z-index: 30; box-shadow: 0 0 10px #fff; }

/* UI MENU */
#start-menu, #game-over { position: absolute; inset: 0; background: rgba(0,0,0,0.85); display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; z-index: 1000; text-align: center; }
#game-over { display: none; }
.pixel-text { font-size: 28px; color: #ffeb3b; text-shadow: 3px 3px red; }
button { padding: 15px 30px; font-size: 20px; cursor: pointer; background: #ff4757; color: #fff; border: none; font-weight: bold; border-radius: 10px; }

/* KONTROL HP */
#controls { position: absolute; bottom: 30px; width: 100%; display: flex; justify-content: space-between; padding: 0 30px; box-sizing: border-box; pointer-events: none; z-index: 2000; }
#controls button { pointer-events: auto; width: 80px; height: 80px; border-radius: 50%; background: rgba(255,255,255,0.4); border: 2px solid #fff; font-size: 24px; color: #fff; }

.jumping { animation: jump-anim 0.6s ease-out; }
@keyframes jump-anim { 0%, 100% { bottom: 80px; } 50% { bottom: 350px; } }
